<%- include('partials/header') %>


    <div class="p-4">
        <div class="card shadow">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">

                            <div class="">
                                
                              <div class="card-header mb-3">
                                <h1 class="card-title text-center">
                                    <i class="fa-solid fa-user text-primary" style="font-size: 80px;"></i>
                                        <% if (user) { %>

                                            <h5 class="text-muted text-center ">
                                                <%= user.NombreUsuario %>
                                        <% } %>
                                        </h5>
                                    </h1>
                                </div>
                                <div class="card-body">
                                    <form action="/cambiarContrasenia" method="POST" id="pases">
                                        <div class="form-floating mb-3">
                                            <input id="id" name="id" type="hidden" class="form-control" value="<%= user.Id %>">
                                            
                                        </div>
                                
                        
                                    <div class="form-floating mb-3">
                                        <input id="pass1" name="pass1" autofocus type="password" class="form-control" placeholder="Contraseña Actual">
                                        <label for="" class="form-label">Contraseña Actual</label>
                                    </div>
                                    <div class="form-floating  mb-3">
                                        <input id="pass2" name="pass2" type="password" class="form-control" placeholder="Nueva Contraseña">
                                        <label for="" class="form-label">Nueva Contraseña</label>
                                    </div>
                                    <div class="form-floating  mb-3">
                                        <input id="pass3" name="pass3" type="password" class="form-control" placeholder="Repite Nueva Contraseña">
                                        <label for="" class="form-label">Repite Nueva Contraseña</label>
                                    </div>
                                    <div class="d-grid gap-2">
                                        <button type="submit" class="btn btn-primary" >Cambiar Contraseña </button>
                                        <button type="reset" class="btn btn-danger" >Cancelar</button>
                                    </div>
                                </form>
                              </div>

                            </div>
                        </div>
                    </div>
            
                    <div class="col-md-6">
                        
                        <img class="img-fluid card-img" src="img/info.jfif" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/footer') %>
