
<%- include('partials/header.ejs') %>

<div class="p-3">
   <div class="card">
    <div class="card-header bg-primary">
        <h5 class="card-title text-light">
            Sistema de Inventario
        </h5>
    </div>
    <div class="card-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita molestias fugiat ab, animi, facilis voluptas dolore harum quam, excepturi sapiente magni officia a incidunt! Consectetur dolor quod ab, aliquam, sed similique voluptatem harum, et neque amet sint ipsum deleniti? Deleniti perferendis ex expedita vel facilis voluptas quam autem, sint aliquid consequuntur pariatur nesciunt provident delectus fuga sed? Minima debitis omnis adipisci, corrupti totam velit quia maxime, ratione voluptates dignissimos, ipsum cum quos ex hic dolorum vitae voluptate laborum accusantium tenetur recusandae eligendi! Asperiores officia fugit, ex voluptatibus, praesentium nulla libero accusantium, ducimus ipsa dolore soluta sunt molestias voluptas nesciunt voluptatem.</p>
        <div class="row mb-4">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body bg-warning">

                       <div class="row">
                        <div class="col-md-8 fs-4">
                            Ganancias
                        </div>
                        <div class="col-md-4 fs-2">
                            <i class="fa-solid fa-sack-dollar"></i>
                        </div>
                       </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body bg-info">

                       <div class="row">
                        <div class="col-md-8 fs-4">
                            Ganancias
                        </div>
                        <div class="col-md-4 fs-2">
                            <i class="fa-solid fa-sack-dollar"></i>
                        </div>
                       </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body bg-primary">

                       <div class="row">
                        <div class="col-md-8 fs-4">
                            Ganancias
                        </div>
                        <div class="col-md-4 fs-2">
                            <i class="fa-solid fa-sack-dollar"></i>
                        </div>
                       </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body bg-danger">

                       <div class="row">
                        <div class="col-md-8 fs-4">
                            Ganancias
                        </div>
                        <div class="col-md-4 fs-2">
                            <i class="fa-solid fa-sack-dollar"></i>
                        </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <h5 class="card card-title p-2 bg-primary text-light">
            Opciones de Presentación
        </h5>
        <p class="text-muted card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem assumenda earum nesciunt at. Saepe nihil et, eveniet perferendis animi similique cupiditate, nostrum facilis accusamus blanditiis a expedita sed suscipit aliquam!
        </p>
    </div>
   </div>
</div>


<%- include('partials/footer.ejs') %>

  