<%- include('partials/header') %>

<div class="p-4">
    <div class="card">
        <div class="card-header bg-primary">
            <h5 class="card-title text-light">Desde la vista Roles</h5>
        </div>
        <div class="card-body">
            <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quo voluptates animi ad impedit temporibus.</p>
        </div>
    </div>
</div>

<%- include('partials/footer') %>